<div class="d-flex m-3">
  <span><a class="" href="/cadastrar" title="Cadastrar pessoa"><i class="fas fa-plus fa-pessoa"> Pessoa</i></a></span>
</div>
<div class="content">
  <table class="table table-hover m-3">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of pessoa | paginate:{itemsPerPage: 5, currentPage:pagina}">
      <tr>
        <td data-title="Nome:">{{ item.nome }}</td>
        <td data-title="Nome:">{{ item.cpf }}</td>
        <td data-title="Nome:">{{ item.datanascimento | date:'dd/MM/yyyy' }}</td>
        <td class="d-flex gap-3">
          <a routerLink="/contato/{{ item.id }}">
            <i class="far fa-id-card" title="Contato(s)"></i>
          </a>
          <a routerLink="/atualizar/{{ item.id }}">
            <i class="fas fa-edit" title="Editar"></i>
          </a>
          <a (click)='excluirPessoa(item.id)'>
            <i class="fas fa-trash-alt" title="Excluir"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="pagination">
    <pagination-controls (pageChange)="pagina=$event"></pagination-controls>
  </div>
</div>